@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .modal-nav {
    display: none;
  }
  /*----header----*/
  .burger-btn {
    display: none;
  }
  .nav-logo {
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .header-address {
    display: flex;
  }
  .address-list {
    flex-direction: column;
    gap: 12px;
  }
  .address-item-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  /*----1----*/
  .section-background {
    padding: 112px 0;
  }
  .section-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg.image/bg-tablet-1x.jpg);
  }
  @media screen and (-webkit-min-device-pixel-radio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg.image/bg-tablet-2x.jpg);
    }
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  /*----2----*/
  .advantages-list {
    gap: 72px 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-item-title {
    text-align: left;
  }
  /*------3-----*/
  .team-list {
    gap: 64px 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /*------4-----*/
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  /*-------- footer----------*/
  .footer-color .container {
    gap: 72px 24px;
    justify-content: start;
  }
  .container-footer-text,
  .footer-form-text {
    text-align: left;
  }
  .logo-footer {
    margin-left: 0;
  }
  .container-footer-links {
    margin: 0;
  }
  .form-footer {
    gap: 24px;
  }
  .footer-email {
    min-width: 264px;
  }
  /*-----modal----*/
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding: 120px 0;
  }
  .nav-logo {
    margin-right: 76px;
  }
  /*----header----*/
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-item-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /*----1----*/
  .section-background {
    padding: 188px 0;
    margin: 0 auto;
  }
  .section-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg.image/bg-desktop-1x.jpg);
  }
  @media screen and (-webkit-min-device-pixel-radio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg.image/bg-desktop-2x.jpg);
    }
  }
  .main-title {
    margin-bottom: 48px;
  }
  /*-----2-----*/
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-item-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .advantages-item-title {
    font-weight: 500;
    font-size: 20px;
  }
  .advantages-item:nth-child(1) {
    margin-bottom: 0px;
  }
  .advantages-item-text {
    font-weight: 400;
  }
  /*-------3-------*/
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  /*------4-----*/
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  /*-------- footer----------*/
  .footer-color {
    padding: 100px 0;
  }
  .footer-color .container {
    gap: 0px;
  }
  .container-footer-logo {
    margin-right: 120px;
  }
  .footer-form {
    margin-left: auto;
  }
  /*-----modal----*/
  .input:focus {
    border-color: #4d5ae5;
  }
  .input:focus + .input-icon {
    fill: #4d5ae5;
  }
  .comment-user:focus {
    border-color: #4d5ae5;
  }
}
@media (min-width: 768px) and (max-width: 1158px) {
  .team .container {
    max-width: 584px;
  }
  .footer-color .container {
    max-width: 584px;
  }
}
